<!DOCTYPE html>
<html>
<head>
    <title>Semillero Gorrión</title>
</head>
<body>
    <h1>Semillero Gorrión</h1>

    <h2>Productos</h2>
    <ul>
        {{#each products}}
            <li>{{this.name}} - Precio: {{this.price}}</li>
        {{/each}}
    </ul>

    <h2>Carritos</h2>
    <ul>
        {{#each carts}}
            <li>Carrito ID: {{this._id}}</li>
            <ul>
                {{#each this.products}}
                    <li>Producto: {{this.product}} - Cantidad: {{this.units}}</li>
                {{/each}}
            </ul>
        {{/each}}
    </ul>
</body>
</html>